@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
* {
    font-family: 'PT Sans Caption', sans-serif;
}

.fas {
    margin: 5px;
}

.far {
    margin: 5px;
}
body{
    padding-top: 6rem;
}