<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    {% include '_includes/_head.html'%}
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    {% include '_includes/_navbar.html'%}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {% include '_includes/_sidebar.html'%}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                {% block content %}
                {% endblock content %}
            </div>
            {% block pagination %}

            {% endblock pagination %}
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% include '_includes/_notification.html'%}
    <!-- Main Footer -->
    {% include '_includes/_footer.html'%}
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="{% static 'js/jquery.min.js'%}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
<!-- AdminLTE App -->
<script src="{% static 'js/adminlte.min.js' %}"></script>
</body>

</html>